/*form css */
form{
    background-image: url(../cover/The-Vampire-Diaries-Season-9.-696x511.jpeg);
    opacity: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input{
    background: 0;
    width: 400px;
    margin: 10px 20px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid rgba(12, 12, 12, 0.2);
    color: linen;
}

input[type="submit"]{
    border-bottom: 0;
    border: 0;
    color: black;
    cursor: pointer;
    background: #df2359;
    border-radius: 8px;
    height: 30px;
    text-align: center;
}

input[type="submit"]:hover{
    color: white;
    background-color: #c0392b;}

    ::placeholder{
        color: linen;
    }

    /*CSS FOR DASHBOARD*/
    .dashboard{
        background-color: grey;
        padding: 5%;
    }
    .dash1{
        background-color: white;
    }

    /*CSS FOR MOVIE*/
    .mvie_page{
        background-color: grey;
        padding: 5%;
        color: white;
    }

   label{
       color: white;
   }

   /*CSS FOR H1*/
   h1{
       text-align: center;
   }